<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721733367152-5vsklvqkc3qb1ch6ajsh0dpnmf15vu9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721733367152-5vsklvqkc3qb1ch6ajsh0dpnmf15vu9d</string>
	<key>API_KEY</key>
	<string>AIzaSyB6iW4OXFgKq7kTq5aEZCxTObgLkBWgtrM</string>
	<key>GCM_SENDER_ID</key>
	<string>721733367152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ktakehi.appbrewery.Quiz-ver3</string>
	<key>PROJECT_ID</key>
	<string>quiz-ver3</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-ver3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721733367152:ios:915e4677d6a2af1d180bb5</string>
</dict>
</plist>